*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.weather_app{
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: rgb(64, 59, 59);
  color: white;
}

.app_wrapper{
  width: 95%;
  border: 3px solid white;
  margin: 40px auto;
  padding: 3rem;
}

.query_city_weather_display{
  padding: 3rem 4rem;
  margin:2rem auto;
  display:flex;
  justify-content: space-between;
}

hr{
  transform: rotate(90deg);
}

.middle{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:2rem;
  border-left: 10px solid white;
  border-right: 10px solid white;
}

/* Support classes */

.borders{
  border: solid 5px white;
  border-radius: 1rem;
}

.light_theme{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: solid 5px rgb(0, 0, 0);
}

.dark_theme{
  background-color: rgb(16, 16, 16);
  color: white;
  
}




p{
  font-size: 2.5rem;
}

h1{
  font-size: 5rem;
}
h2{
  font-size: 4rem;
}