.searchbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.searchbar-text{
    font-size: 1.5rem;
    color: #ffffff;
    background-color:rgba(0, 0, 0, 1);
    border: 0.3rem solid #2e2a2a;
    border-radius: 0.5rem;
    margin: 1rem 0.5rem;
    padding: 1rem 2rem;
    width: 60rem;
    transition: 0.5s ease-in-out;
    
}

.searchbar-text:hover {
    border: 0.3rem solid #ffffff;
    color: #ffffff;
    transition: 0.5s ease-in-out;
    box-shadow: 0 0 10px rgba(86, 79, 79, 0.5);
}